.container{
    max-width: 500px;
    width: 100%;

    background: #f3ebebff;

    display: flex;
    flex-direction:row;
    justify-content: space-between;
    margin: 1.25rem;
    padding: 0.5rem 1.5rem;
    border-radius: 0.5rem;
    
}

.container.done{
    opacity: 0.6;
}

.container.done p{
    text-decoration: line-through;
}

input[type="checkbox"]{

    width:1.125rem;

}

